body{
	font-family: Georgia;
	color: whitesmoke;
	text-shadow: 4px 2px 8px #000000;
	text-align: center;
	background-image: url("636129231573002846-291561714_635920627891520484-247334876_american flag.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 0;
    height: 100%;

}
.btn-custom {
  font-family: Helvetica;
  background-color: black;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="whitesmoke", endColorstr="gray");
  background-image: -khtml-gradient(linear, left top, left bottom, from(whitesmoke), to(gray));
  background-image: -moz-linear-gradient(top, whitesmoke, gray);
  background-image: -ms-linear-gradient(top, whitesmoke, gray);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, gray));
  background-image: -webkit-linear-gradient(top, whitesmoke, gray);
  background-image: -o-linear-gradient(top, whitesmoke, gray);
  background-image: linear-gradient(whitesmoke, gray);
  border-color: black black;
  color: black !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}
h1{
	font-weight: 599;
	font-size: 80px;
	padding-top: 200px;
}